

.stalinist-one-regular {
  font-family: "Stalinist One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
    background-color: #0e0d0d;
}


.navbar {
    background-color: #181717;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;  
    height: 100vh;
    max-width: 15%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    overflow: hide; 
    resize: horizontal;

}

li {

}

ul {   
    list-style-type: none;
    
}

.link {
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.link:hover {
    color: #171616;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.linktext {

    padding: 1pc;
    border-radius: 5px;
    width: 15vw;
}

.linktext:hover {
    border-radius: 5px;
    background: #09FF74;
    background: linear-gradient(90deg,rgba(9, 255, 116, 1) 0%, rgba(18, 202, 230, 1) 100%);
}

.maincontent {
    margin-left: 250px;
    display: flex;
    justify-content: center; 
    align-items: center;   

}

.hometitle {
    font-family: Stalinist One;  
    background: linear-gradient(to right, #09FF74 0%, #12CAE6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navtitle {
    background: linear-gradient(to right, #09FF74 0%, #12CAE6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Stalinist One", sans-serif;
    margin: 5px;
    font-size: 17px;
}



.homebutton:hover {
    width: 19vw;
    border-radius: 5px;
    background: #09FF74;
    background: linear-gradient(90deg,rgba(9, 255, 116, 1) 0%, rgba(18, 202, 230, 1) 100%);
    font-family: "Stalinist One", sans-serif;

}
.homebutton{
    width: 20vw;
    font-family: "Stalinist One", sans-serif;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    
}

.homebutton:hover{
    color: #0e0d0d;
}

.addstock {
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #181717;
    padding: 30px;
    padding-left: 8%;
    border-radius: 10px;
    min-width: 200px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    display:flex;
    position: relative;
    
}
.addbuttonrow {
    float: right;
    margin: 20px;
    margin-right: 15%
}
.stocktitle {
    color: #ffffff;
    font-size: 45px;
    margin-top: 10px;
    margin-left: 38%;
    margin-right: 35%;
}

.addstockbutton {
    background-color: #09FF74;
    border-radius: 10px;
    color: #171616;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
.addstocklabel {
    margin: 10px;
    font-size: 20px;
}

input {
    border-radius: 8px;
    background-color: #373737;
    border:none;
}

.stocktable {
    background-color: ;
}

.addstockrow {
    display: inline-block; width: 45%;
    vertical-align: top;
}

.dropdown {
    border-radius: 8px;
    background-color: #373737;
    border:none;
    color: #737575;
    padding: 4px;
}

.backbutton {
    background-color: transparent;
    border: none;
    color: #ffffff;
    position: absolute;
    top: 15px;
    right: 15px;
}

.liststock{
    position: relative;
}

.addstockinlist {
    background-color: #09FF74;
    border: transparent;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:35px;
    right: 0px;
}

.tablelabel {
    color: #ffffff;
    padding-left: 60px;
    padding-right: 60px;
    border: 2px solid;
    border-color: #252424;
    background-color: #141313;

}

